---
import { Icon } from 'astro-icon'
---

<div class="pt-8" />
    <div class="container m-auto px-6 space-y-8 md:px-12 lg:px-56">     
        <div class="m-auto text-center lg:w-7/12">
            <Icon class="w-16 h-16 mx-auto" name="emojione:tropical-drink" />
            <h2 class="text-2xl text-gray-700 font-bold md:text-4xl">SmoothieVid</h2>
            <p class="text-sm text-gray-700">Smoothen and stabilize videos in your browser!</p>
        </div>
    </div>
<div class="py-16"></div>